#popup {
	width: 250px;
	height: 100px;
	position:absolute;
	z-index: 100000;
	background-color: lightgray;
	border: 1px solid darkgray;
	display: flex;
	justify-content: center;
	align-items: center;
}

#contents {
	display: inline-block;
}

.form-row {
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-left: 9px;
	margin-bottom: 3px;
}

.label {
	width: 45px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}

.createEditButton {
	margin: 0px 4px;
}